<tr>
  <th><label for="name">Name:</label></th>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <th><label for="Email">Email:</label></th>
  <td><%= f.text_field :email %></td>
</tr>
<tr>
  <th><label for="password">Password:</label></th>
  <td><%= f.password_field :password %></td>
</tr>
<tr>
  <th><label for="password_confirmation">Password again:</label></th>
  <td><%= f.password_field :password_confirmation %></td>
</tr>
<tr>
  <th><label for="company">Company:</label></th>
  <td><%= text_field_with_auto_complete :member, :company %></td>
</tr>