<h1>Modify Invalid Members</h1>

<p>The following members could not be added. Check the errors on each line, fix them, and add the members.</p>

<div class="invalid_members_form">
  <% form_tag(update_members_path) do %>
  <table>
    <tr><th>Name:</th><th>Email:</th><th>Company:</th><th>Error:</th></tr>
    <% @not_valid.each do |m| %>
      <tr>
        <td><%= text_field_tag "member[][name]", m[0] %></td>
        <td><%= text_field_tag "member[][email]", m[1] %></td>
        <td><%= text_field_tag "member[][company]", m[2] %></td>
        <td><%= m[3] %></td>
      </tr>
    <% end -%>
  </table>
  <%= submit_tag 'Add members' %> or <%= link_to 'Done', members_path %>
  <% end -%>
</div>