<% form_tag({}, {:class => 'list', :method => :get}) do %>
    <%= hidden_field_tag(:reset, 1) %>
    <table class="search">
      <tr class="grey_bg"><td>Search:</td>
        <td><%= link_to 'Add member', new_member_path %></td>
      </tr>
      <tr>
        <td>
          <label for="company">Company:</label>
          <%= select_tag("company", '<option value="">- All companies -</option>' + options_from_collection_for_select(@companies, "company", "company", list_params[:company])) %> 
          <% filter_columns.each do |k| %>
            <label for="<%=k %>"><%= k.to_s.titleize %>:</label>
            <%= text_field_tag(k, list_params[k]) %>
          <% end %>
          <%= filter_actions_tag %>
        </td>
      </tr>
    </table>
<% end -%>
    <table class="results">
      <thead>
        <tr class="grey_bg">
          <th colspan="<%=sort_columns.size + 1 %>">
            <div><%= page_entries_info @members, :entry_name => "result" %>:</div> 
            <%= @pagination = will_paginate @members %>
          </th>
        </tr>
        <tr>
          <th class><%= sortable_column_head("Name", :name) %></th>
          <th class><%= sortable_column_head("Email", :email) %></th>
          <th class><%= sortable_column_head("Company", :company) %></th>
          <th class><%= sortable_column_head("Emailed at", :emailed_at) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
          <% @members.each do |si| %>
            <tr>
            <td><%= si.name %></td>
            <td><%= si.email %></td>
            <td><%= si.company %></td>
            <td>
              <%= si.emailed_at ? date_format(si.emailed_at) : "Email not sent" %> (<%= (link_to 'reset password', reset_password_path(:id => si.id)) %>)
            <td><%= link_to 'Edit', edit_member_path(si.id) %></td>
            </tr>
          <% end -%>
          <% if @members.empty? %>
            <tr><td colspan="<%= sort_columns.size + 1 %>">No results!</td></tr>
          <% end %>
      </tbody>
      <tfoot>
        <tr class="grey_bg">
          <th colspan="<%=sort_columns.size + 1 %>"><%= will_paginate @members %></th>
        </tr>
      </tfoot>
    </table>
